{% extends 'baseproj.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <div class="container"> -->
	<!-- <div class="row"> -->

<div class="page-header">
  <h1>Student Registration System</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Search</h1>
    </div>
    <div class="panel-body">
      {% crispy form %}
    </div>
</div>

   	
   	<!-- </div> -->

   	<table class="table">

      <caption style="border: inherit; background-color: lightgrey;">
            <span class="align-centre"><strong>List of Registered Students</strong></span>
        </caption>

        <thead class="thead-inverse">
          <tr>
            <th>IC num</th>
            <th>Name</th>
            <th>Course</th>
          </tr>
        </thead>
        <tbody>

        {% if students  %}
          {% for student in students %}
            <tr>
              <td>
                <a href="{% url 'student_detail' student.pk %}">{{ student.icnum }}</a>
              </td>
              <td class="align-middle">{{ student.name }}</td>
              <td class="align-middle">{{ student.course }}</td>
            </tr>
          {% endfor %}
        {% else %}
        	<tr>
        	  <td colspan="3">No Records so far..!!</td>
              <td>
              </td>
            </tr>
        {% endif %}

        </tbody>
    </table>

    {{ form_target }}
    <div class="center-block">
      {% if students.has_other_pages %}
        <ul class="pagination">
          {% if students.has_previous %}
            <li><a href="?page={{ students.previous_page_number }}&search={{ search }}&select_buttons={{ select_buttons }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in students.paginator.page_range %}
            {% if students.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}&search={{ search }}&select_buttons={{ select_buttons }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if students.has_next %}
            <li><a href="?page={{ students.next_page_number }}&search={{ search }}&select_buttons={{ select_buttons }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>

       <p class="text-center">
	    <a href="{% url 'student_new' %}" class="btn btn-primary" >Add New Student</a>
	  </p>

<!-- </div> -->
{% endblock %}

